* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
    color: #fff !important;
}

.home {
    display: flex;
    margin-top: 10px;
}

.filters {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 86vh;
    margin-right: 10px;
}
.filters > span {
    padding-bottom: 20px;
}
.title {
    font-size: 30px;
}

.productsContainer {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products {
    width: 30%;
}

.filterCardContainer {
    padding: 11px;
}
.filterCard {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}
.filterCardImg > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.totalCardContainer {
    margin-top: 10px;
}
.cardFilterDelete {
    cursor: pointer;
    width: 30px;
    margin-left: auto;
}

.cardFilterGoToCard {
    margin: 0 5px 0 5px;
}
.cardFilterGoToCard > a > Button {
    width: 100%;
}
.totalCard {
    background-color: #343a40;
    color: #fff;
    width: 100%;
    height: 86vh;
    padding: 20px;
}
